<div class="reminder">
    <h5 mat-dialog-title>Reminder!</h5>
    <div mat-dialog-content class="reminder-content">
        <p>
            Opname ini memiliki durasi selama 1 bulan. Jika sesi opname yang berlangsung melebihi batas waktu yang ditentukan, maka opname akan berakhir dan data opname akan hilang.
            <br>
            <br>
            <b>Pastikan Anda menyelesaikan opname sebelum batas waktu yang ditentukan.</b>
        </p>
    </div>
    <div mat-dialog-actions class="reminder-actions">
        <button mat-button (click)="closeDialog()">Ok</button>
    </div>
</div>