@use "../../styles.scss" as styles;
@use "sass:color";

* {
  @include styles.default-styles;
}

h1, h2, h3, h4, h5, h6 {
    font-family: styles.$font-family;
    color: styles.$primary-text-color;
    margin: 0;
}

p {
    font-size: 12px;
    margin: 5px;
}

.sticky-top {
  padding-top: 20px;
  padding-bottom: 15px;
  position: sticky;
  top: 42px;
  z-index: 10;
  background-color: styles.$background-color;
  align-content: center;
  justify-content: center;
}

// Use global search form styles
@include styles.search-form-styles;

.site-status {
    font-size: 8px;
    border-radius: 12px;
    padding: 4px 8px;

	@each $name, $color in styles.$filter-pill-colors {
		&.status-#{$name} {
			background-color: $color;
			border: 1px solid color.adjust($color, $lightness: -20%);
		}
	}
}

.site-list-layout {
	padding-top: 10px;
}

.site-list {
	padding: 12px;
	border-bottom: 1px solid color.adjust(styles.$quaternary-text-color, $lightness: 40%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	margin-bottom: 6px;

	&:hover {
        background-color: color.scale(styles.$quaternary-text-color, $lightness: 95%);
        cursor: pointer;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

.first-column, .second-column {
	display: flex;
	flex-direction: column;
	align-items: start;

	p {
		margin: 2px 0px;
		font-size: 8px;
	}
}

.first-column {
  flex-grow: 1;

  .site-name {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 4px;
    color: styles.$primary-text-color;
  }

  .site-details {
    color: styles.$quaternary-text-color;
    font-weight: 500;
    font-size: 8px;
  }

  .opname-date {
    color: styles.$quaternary-text-color;
    font-style: italic;
    font-size: 8px;
  }

  .opname-user {
    color: styles.$quaternary-text-color;
    font-style: italic;
    font-size: 8px;
    font-weight: 400;
  }
}

.second-column {
  flex-shrink: 0;
}

.my-toast {
    display: block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
    max-width: 350px;
    border-radius: 15px;
    padding: 8px 16px;
    background-color: color.adjust(styles.$secondary-color, $lightness: 20%);
    opacity: 0.9;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);

    .toast-body {
        padding-right: 5px;
    }
    
    p {
        margin: 0;
        font-size: 10px;
        color: rgb(51, 3, 3);
    }
}

// Use global pagination styles
@include styles.mat-paginator-styles;