@use "../../styles.scss" as styles;
@use "sass:color";

* {
  @include styles.default-styles;
}

h1, h2, h3, h4, h5, h6 {
    font-family: styles.$font-family;
    color: styles.$primary-text-color;
    margin: 0;
}

p {
    font-size: 12px;
    margin: 5px;
}

.sticky-top {
  padding-top: 30px;
  padding-bottom: 15px;
  position: sticky;
  top: 42px;
  z-index: 10;
  background-color: styles.$background-color;
  align-content: center;
  justify-content: center;
}

.user-site-header {
	display: flex;
	flex-direction: column;
}

.site-search {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.site-card-layout {
    display: grid;
	column-gap: 10px;
	row-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin-top: 20px;
	justify-content: space-around;
}

.site-card {
    border-radius: 20px;
    padding: 20px;
    background-color: styles.$secondary-background-color;
    color: styles.$primary-text-color;

    // kiw kiw. change hover style here!!
    &:hover {
        background-color: color.scale(styles.$secondary-background-color, $lightness: -5%);
        cursor: pointer;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.site-name {
    font-weight: bold;
}

.site-status {
    font-size: 12px;
    border-radius: 15px;
    padding: 5px 10px;

	@each $name, $color in styles.$filter-pill-colors {
		&.status-#{$name} {
			background-color: $color;
			border: 1px solid color.adjust($color, $lightness: -20%);
		}
	}
}

.card-divider {
    margin: 10px 0px 15px 0px;
}

.last-opname {
    display: flex;
    flex-direction: row;
}

.search-view {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.search-bar{
	align-items: center;
	flex-grow: 1;
}

@media (max-width: 767px) {
	.search-bar{
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-grow: 1;
		gap: 10px;
	}
}

.filter-pills {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	justify-content: end;

	@each $name, $color in styles.$filter-pill-colors {
		.filter-#{$name} {
			background-color: $color;
			color: color.adjust($color, $lightness: -55%);
			cursor: pointer;
			transition: all 0.1s ease;
			border: 1px solid color.adjust($color, $lightness: -10%);
	
			&:hover {
				background-color: color.adjust($color, $lightness: -10%);
			}
	
			&:active {
				background-color: color.adjust($color, $lightness: -30%);
			}
	
			&.selected {
				background-color: color.adjust($color, $lightness: -25%);
				color: color.adjust($color, $lightness: -75%);
				transform: scale(1.05);
			}
		}
	}

	.clear-filter {
		background-color: #dc3545;
		color: white;
		font-size: 12px;
		border-radius: 15px;
		padding: 5px 10px;
		
		&:hover {
			background-color: color.adjust(#dc3545, $lightness: -10%);
		}
	}
}

.view-icon {
	flex-shrink: 0;
	
	img {
		width: 35px;
		height: 35px;
	}
	
	.card-view, .list-view {
		cursor: pointer;
		opacity: 0.6;
		transition: opacity 0.2s;
		
		&.active {
		opacity: 1;
		}
		
		&:hover {
		opacity: 0.8;
		}
  	}

	@media (max-width: 767px) {
        display: none !important; // Force hide on mobile
    }
}

.site-list-layout {
	padding-top: 10px;
}

.site-list {
	padding: 10px;
	border-bottom: 1px solid color.adjust(styles.$quaternary-text-color, $lightness: 40%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;

	&:hover {
        background-color: color.scale(styles.$quaternary-text-color, $lightness: 95%);
        cursor: pointer;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

.first-column, .second-column {
	display: flex;
	flex-direction: column;
	align-items: start;

	p {
		margin: 5px 0px;
	}
}

.my-toast {
    display: block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
    max-width: 400px;
    border-radius: 20px;
    padding: 10px 20px;
    // border: 0.5px solid rgb(82, 6, 6);
    background-color: color.adjust(styles.$secondary-color, $lightness: 20%);
    opacity: 0.8;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);

    .toast-body {
        padding-right: 5px;
    }
    
    p {
        margin: 0;
        font-size: 14px;
        color: rgb(51, 3, 3);
    }
}