<main class="opname-wrapper">
    <div class="opname-page">
        <!-- ERROR MESSAGE -->
        <div *ngIf="errorMessage && showToast" class="my-toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <p>{{ errorMessage }}</p>
                    <p>Please try again later.</p>
                </div>
                <button type="button" class="btn-close btn-close-black m-auto" (click)="showToast = false" aria-label="Close"></button>
            </div>
        </div>

        <section class="opname-content">
            <div class="opname-header">
                <div class="opname-details">
                    <h2>Opname in progress...</h2>
                    <p>Started on {{ opnameSession.startDate }}</p>
                </div>
                <div class="buttons">
                    <div class="finish-button">
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#opnameFinished">Finish Opname</button>
                    </div>

                    <div class="modal fade" id="opnameFinished" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Are all the data correct?</h1>
                                </div>
                                <div class="modal-body">
                                    This will finish the current opname session and <strong>all changed data will be saved</strong>. Are you sure you want to proceed?
                                    <br>
                                    <br>
                                    <strong>Note:</strong> This action cannot be undone. Once you finish, <strong class="text-danger">you will not be able to make further changes</strong> to the assets in this session.
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-success" data-bs-dismiss="modal" (click)="finishOpnameSession()">Finish</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#opnameCanceled">
                        Cancel Opname
                    </button>

                    <div class="modal fade" id="opnameCanceled" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure to Cancel Opname?</h1>
                                </div>
                                <div class="modal-body">
                                    This will cancel the current opname session and <strong class="text-danger">all changed data will be lost</strong>. Are you sure you want to proceed?
                                    <br>
                                    <br>
                                    <strong>Note:</strong> This action cannot be undone.
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-danger" data-bs-dismiss="modal" (click)="cancelOpnameSession()">Proceed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="divider">

            <div class="opname-body">
                <app-opname-asset [variant]="cardVariant" [showLocation]="showLocation" [sessionID]="sessionID" [siteID]="siteID"></app-opname-asset>
            </div>

            <!-- <div class="error-message">
                <h1 *ngIf="errorMessage">{{ errorMessage }}</h1>
                <p *ngIf="errorMessage">Please try again later.</p>
            </div> -->
        </section>
    </div>
</main>
