<main class="opname-wrapper">
    <div class="opname-page">
        <section class="opname-content">
            <div class="opname-header">
                <div class="opname-details">
                    <h2>Opname in progress...</h2>
                    <p>Started on {{ opnameSession.startDate }}</p>
                </div>
                <div class="buttons">
                    <div class="finish-button">
                        <button class="btn btn-success">Finish Opname</button>
                    </div>
                    <div class="close-button">
                        <button class="btn btn-danger" (click)="cancelOpnameSession()">Cancel Opname</button>
                    </div>
                </div>
            </div>

            <hr class="divider">

            <div class="opname-body">
                <app-opname-asset [variant]="cardVariant" [showLocation]="showLocation" [sessionID]="sessionID" [siteID]="siteID"></app-opname-asset>
            </div>
        </section>
    </div>
</main>
