@use "../../styles.scss" as styles;
@use "sass:color";

* {
  @include styles.default-styles;
}

h1, h2, h3, h4, h5, h6 {
  font-family: styles.$font-family;
  color: styles.$primary-text-color;
  margin-bottom: 5px;
}

p {
  font-size: 12px;
  margin: 0px;
  color: styles.$quaternary-text-color;
}

.opname-wrapper {
  padding: 20px 30px;
}

.opname-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.divider {
  margin-bottom: 0px;
}

.sticky-top {
  padding-top: 30px;
  padding-bottom: 15px;
  position: sticky;
  top: 42px;
  z-index: 10;
  background-color: styles.$background-color;
  align-content: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-bar {
  margin-bottom: 10px;
}

.by-tag, .by-SN {
  font-size: 12px;
  color: styles.$primary-text-color;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: styles.$secondary-background-color;
  margin-right: 5px;
}

.data-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 1px solid color.adjust(styles.$quaternary-text-color, $lightness: 30%);
  // border-radius:10px;
  // background-color: color.adjust(styles.$button-color, $lightness: 10%);
}

.opname-asset-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-1 {
  border-right: 1px solid color.adjust(styles.$quaternary-text-color, $lightness: 30%);
}