<main class="site-wrapper">
    <div class="site-page" *ngIf="errorMessage === '' && !isLoading">
        <section class="site-content">
            <div class="site-information">
                <div class="basic-info">
                    <h2 class="site-name">{{ sitePage.siteName }}</h2>
                    <p class="site-location">{{ sitePage.siteGroup }}, {{ sitePage.siteRegion }}</p>
                </div>
                <div class="opname-info">
                    <span 
                        class="site-status"
                        [ngClass]="{
                            'status-active': sitePage.opnameStatus === 'Active',
                            'status-completed': sitePage.opnameStatus === 'Completed',
                            'status-verified': sitePage.opnameStatus === 'Verified',
                            'status-rejected': sitePage.opnameStatus === 'Rejected',
                            'status-outdated': sitePage.opnameStatus === 'Outdated'
                        }">
                        {{ sitePage.opnameStatus }}
                    </span>
                    <p class="opname-date">Last Opname on {{ sitePage.opnameDate }}</p>
                </div>
            </div>

            <div class="site-assets">
                <hr class="divider">

                <section class="site-asset-list">
                    <app-asset-card [variant]="'default'" [isInOpnameSession]="false"></app-asset-card>
                </section>
            </div>
        </section>

        <div id="container-floating">
            <div class="nd2 nds my-tooltip">
                <img class="report" src="assets/report.svg">
                <span class="tooltiptext">See opname report</span>
            </div>
            
            <div class="nd1 nds my-tooltip">
                <img class="previous" src="assets/previous.svg" (click)="continueOpname()">
                <span class="tooltiptext">See previous opname</span>
            </div>
            
            <!-- TODO: navigate to opname and start opname in ts file -->
            <div id="floating-button">
                <img class="more" src="assets/more.svg">
                <div class="my-tooltip">
                    <img class="add" src="assets/add.svg" (click)="startNewOpname()"/>
                    <span class="tooltiptext">Start new opname</span>
                </div>
            </div>
        </div>

        <div class="bottom-fade"></div>
    </div>
    
    <!-- ERROR MESSAGE -->
    <div *ngIf="errorMessage && showToast" class="my-toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <h5>{{ errorMessage }}</h5>
                <p>Please try again later.</p>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="showToast = false" aria-label="Close"></button>
        </div>
    </div>
    
    <!-- <div class="error-message" *ngIf="errorMessage">
        <h1>{{ errorMessage }}</h1>
        <p>Please try again later.</p>
    </div> -->

    <!-- LOADING -->
    <div class="loading" *ngIf="isLoading">
        <p>Loading site data...</p>
    </div>
</main>
