<main class="site-wrapper">
    <div class="site-page" *ngIf="!isLoading">
        <!-- ERROR MESSAGE -->
        <div *ngIf="errorMessage && showToast" class="my-toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <p>{{ errorMessage }}</p>\
                </div>
                <button type="button" class="btn-close btn-close-black m-auto" (click)="showToast = false" aria-label="Close"></button>
            </div>
        </div>
        <section class="site-content">
            <div class="site-information">
                <div class="basic-info">
                    <h5 class="site-name">{{ location.deptName ? location.deptName : location.siteName }}</h5>
                    <p class="site-location">{{ location.siteGroupName }}, {{ location.regionName }}</p>
                    
                    <button type="button" 
                            class="export-csv-btn"
                            (click)="exportToCSV()"
                            [title]="'Export asset data as CSV'">
                        <div class="export-container">
                            <i class="fas fa-file-csv"></i>
                            <p class="export-text">Export CSV</p>
                        </div>
                    </button>
                </div>
                <div class="opname-info">
                    <span 
                        class="site-status"
                        [ngClass]="{
                            'status-active': location.opnameStatus === 'Active',
                            'status-submitted': location.opnameStatus === 'Submitted',
                            'status-escalated': location.opnameStatus === 'Escalated',
                            'status-verified': location.opnameStatus === 'Verified',
                            'status-rejected': location.opnameStatus === 'Rejected',
                            'status-outdated': location.opnameStatus === 'Outdated'
                        }">
                        {{ location.opnameStatus || 'Loading...' }}
                    </span>
                    <p class="opname-date">{{ location.opnameDate ? 'Last Opname on ' + location.opnameDate : 'No previous opname' }}</p>
                </div>
            </div>

            <div class="site-assets">
                <hr class="divider">

                <section class="site-asset-list">
                    <app-asset-card [siteID]="location.siteID" [deptID]="location.deptID"></app-asset-card>
                </section>
            </div>
        </section>

        <div id="container-floating" [class.expanded]="floatingMenuExpanded">
            <div class="nd2 nds my-tooltip">
                <img class="report" src="assets/report.svg" (click)="goToReport()">
                <span class="tooltiptext">Lihat laporan opname</span>
            </div>
            
            <div class="nd1 nds my-tooltip">
                <img class="previous" src="assets/previous.svg" (click)="continueOpname()">
                <span class="tooltiptext">Lanjutkan opname</span>
            </div>
            
            <div id="floating-button" (click)="floatingMenuExpanded ? null : toggleFloatingMenu()">
                <img class="more" src="assets/more.svg">
                <div class="my-tooltip">
                    <img class="add" src="assets/add.svg" (click)="startNewOpname()"/>
                    <span class="tooltiptext">Mulai opname baru</span>
                </div>
            </div>
        </div>

        <div class="bottom-fade"></div>
    </div>

    <!-- LOADING -->
    <div class="loading d-flex flex-column align-items-center justify-content-center" *ngIf="isLoading">
        <div class="spinner-border text-dark mb-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p class="text-dark">Loading site...</p>
    </div>
</main>
