<main class="site-wrapper">
    <div class="site-page">
        <section class="site-content">
            <div class="site-information">
                <div class="basic-info">
                    <h2 class="site-name">{{ sitePage?.siteName }}</h2>
                    <p class="site-location">{{ sitePage?.siteGroup }}, {{ sitePage?.siteRegion }}</p>
                </div>
                <div class="opname-info">
                    <span 
                        class="site-status"
                        [ngClass]="{
                            'status-active': sitePage?.opnameStatus === 'active',
                            'status-completed': sitePage?.opnameStatus === 'inactive',
                            'status-pending': sitePage?.opnameStatus === 'pending',
                            'status-verified': sitePage?.opnameStatus === 'maintenance',
                            'status-rejected': sitePage?.opnameStatus === 'rejected',
                            'status-outdated': sitePage?.opnameStatus === 'outdated'
                        }">
                        {{ sitePage?.opnameStatus }}
                    </span>
                    <p class="opname-date">Last Opname on {{ sitePage?.opnameDate }}</p>
                </div>
            </div>

            <hr class="divider">

            <div class="site-assets">
                <div class="assets-info-header">
                    <h5>Asset Info:</h5>
                </div>

                <section class="site-asset-list">
                    <app-asset-card *ngFor="let assetCard of assetCardList" [assetCard]="assetCard">
                    </app-asset-card>
                </section>
            </div>
        </section>
    </div>
</main>
