@use "../../styles.scss" as styles;
@use "sass:color";

* {
  @include styles.default-styles;
}

h1, h2, h3, h4, h5, h6 {
    font-family: styles.$font-family;
    color: styles.$primary-text-color;
    margin: 0;
}

p {
    font-size: 12px;
    margin: 5px;
}

.asset-card.default {
    border-radius: 20px;
    padding: 10px;
    background-color: styles.$tertiary-color;
    color: styles.$primary-text-color;
    height: 8rem; //temporary
    display: flex;
    align-items: center;

    .additional-info {
        justify-items: right;
    }
}

.asset-card.compact {
    border-radius: 20px;
    padding: 10px;
    background-color: styles.$tertiary-color;
    color: styles.$primary-text-color;
    height: 8rem; //temporary
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .additional-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.opname-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0px 5px;
    border-left: 1px solid styles.$primary-text-color;
    padding-left: 50px;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 5px;
}

.asset-icon {
    height: 100%;
    object-fit: cover;
    display: block;
    // padding: 5px 0px;
}

.asset-status {
    font-size: 10px;
    background-color: styles.$button-color;
    border-radius: 15px;
    padding: 5px 10px;
}

.asset-tag {
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px;
}

.asset-name {
    font-size: 12px;
    margin: 5px;
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

@media (max-width: 768px) {
    .asset-card {
        font-size: 0.85rem;
        
        .asset-tag {
            font-size: 0.8rem;
        }
        
        .asset-name {
            font-size: 0.8rem;
        }
    }
}

