<div class="sticky-top">
    <div class="assets-info-header" *ngIf="showHeader">
        <div class="asset-search">
            <div class="asset-info">
                <h5>Asset Info:</h5>
            </div>
    
            <div class="filter-pills" *ngIf="currentView ==='card'">
                <span class="asset-filter filter-pill filter-deployed">Deployed</span>
                <span class="asset-filter filter-pill filter-onloan">On Loan</span>
                <span class="asset-filter filter-pill filter-disposed">Disposed</span>
                <span class="clear-filter">Clear All</span>
            </div>

            <div class="filter-pills" *ngIf="currentView === 'list'">
                <span class="clear-filter">Clear All</span>
            </div>
        </div>
    
        <div class="search-view">
            <div class="filter-dropdown" *ngIf="currentView === 'list'">
                <select class="form-select" aria-label="Small select example">
                    <option value="">All Status</option>
                    <option value="Deployed">Deployed</option>
                    <option value="On Loan">On Loan</option>
                    <option value="Disposed">Disposed</option>
                </select>
            </div>
            <form class="d-flex search-bar" role="search">
                <input class="form-control me-2" type="search" placeholder="Search here!" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="view-icon" *ngIf="!isMobile">
                <img class="card-view" [class.active]="currentView === 'card'" src="assets/card.svg" alt="Card View" (click)="toggleView('card')"/>
                <img class="list-view" [class.active]="currentView === 'list'" src="assets/list.svg" alt="List View" (click)="toggleView('list')"/>
            </div>
        </div>
    </div>
</div>

<section class="asset-card-layout" [ngClass]="variant" *ngIf="currentView === 'card'">
    <div class="asset-card" [ngClass]="variant" *ngFor="let assetCard of assetsOnSite">
        <div class="card-body" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + assetCard.assetTag">
            <div class="main-info">
                <img class="asset-icon" [src]="assetCard.assetIcon" [alt]="assetCard.assetName"/>
                <span 
                    class="asset-status"
                    [ngClass]="{
                        'status-deployed': assetCard.assetStatus === 'Deployed',
                        'status-onloan': assetCard.assetStatus === 'On Loan',
                        'status-disposed': assetCard.assetStatus === 'Disposed'
                    }">
                    {{ assetCard.assetStatus }}
                </span>
            </div>
    
            <div class="additional-info">
                <p class="asset-tag">{{ assetCard.assetTag }}</p>
                <div class="asset-name">
                    {{ assetCard.assetName }}
                </div>
                <p>{{ assetCard.assetOwnerName }}</p>
            </div>
    
            <div class="opname-card" *ngIf="actualShowLocation">
                <p class="asset-location">{{ assetCard.location }}</p>
                <p class="asset-room">{{ assetCard.room }}</p>
                <p class="asset-site">{{ assetCard.siteGroupName}}</p>
            </div>
        </div>
    
        <app-asset-page [assetTag]="assetCard.assetTag"></app-asset-page>
    </div>
</section>

<!-- NO ASSETS FOUND MESSAGE -->
<section *ngIf="assetsOnSite && assetsOnSite.length === 0">
    <p class="no-assets-message">No assets found for this site</p>
</section>

<!-- LOADING ASSETS -->
<section class="loading" *ngIf="isLoading">
    <p>Loading assets...</p>
</section>

<section class="asset-list-layout" *ngIf="currentView === 'list'">
    <div class="asset-list" [ngClass]="variant" *ngFor="let assetCard of assetsOnSite">
        <div class="list-body" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + assetCard.assetTag">
            <div class="first-column">
                <img class="asset-icon" [src]="assetCard.assetIcon" [alt]="assetCard.assetName"/>
            </div>
    
            <div class="second-column">
                <p class="asset-tag">{{ assetCard.assetTag }}</p>
                <p>{{ assetCard.assetOwnerName }}</p>
            </div>
    
            <div class="third-column">
                <span 
                    class="asset-status"
                    [ngClass]="{
                        'status-deployed': assetCard.assetStatus === 'Deployed',
                        'status-onloan': assetCard.assetStatus === 'On Loan',
                        'status-disposed': assetCard.assetStatus === 'Disposed'
                    }">
                    {{ assetCard.assetStatus }}
                </span>
            </div>
        </div>
    
        <app-asset-page [assetTag]="assetCard.assetTag"></app-asset-page>
    </div>
</section>

<!-- ERROR MESSAGE -->
<div *ngIf="errorMessage && showToast" class="my-toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            <p>{{ errorMessage }}</p>
            <p>Please try again later.</p>
        </div>
        <button type="button" class="btn-close btn-close-black m-auto" (click)="showToast = false" aria-label="Close"></button>
    </div>
</div>