::ng-deep .mat-mdc-dialog-surface {
    border-radius: 10px;
    background-color: white;
}

.dialog-title {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 8px;
}

.dialog-content {
    padding-bottom: 5px;
}

.form-label {
    font-size: 12px;
    font-weight: 500;
}

textarea.form-control {
    font-size: 12px;
    resize: vertical;
    margin: 0px;
}

.dialog-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0px;
    border: none;
}

.flex-spacer {
    flex: 1 1 auto;
}

.btn {
    font-size: 12px;
}