<main class="login-wrapper">
  <div class="login-page">
    <form class="login-form-panel" (ngSubmit)="login()">
      <div class="panel-content-wrapper">
        <div class="form-area-simple">
          <h2>Login</h2>
          <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" [(ngModel)]="credentials.username" required placeholder="Enter your username" [ngClass]="{'input-error': errorMessage}"/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" [(ngModel)]="credentials.password" required placeholder="Enter your password" [ngClass]="{'input-error': errorMessage}"/>
          </div>

          <!-- LOGIN ERROR MESSAGE -->
          <div class="my-alert alert-danger" role="alert" *ngIf="errorMessage && showAlert">
            <p id="error-message" class="mb-0">{{ errorMessage }}</p>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
          </div>
          <button type="submit" class="login-btn">Login</button>
        </div>
      </div>
    </form>

    <section class="login-decoration-panel">
      <img src="https://i.pinimg.com/736x/8f/37/0b/8f370b7ff8dea107b69df68c3fd4cb68.jpg" alt="PT Surya Madistrindo" class="login-image" />
    </section>
  </div>
</main>
