@use "../../styles.scss" as styles;
@use "sass:color";

* {
  @include styles.default-styles;
}

h1, h2, h3, h4, h5, h6 {
  font-family: styles.$font-family;
  color: styles.$primary-text-color;
  margin: 0;
}

p {
  font-size: 15px;
  margin: 0px;
}

.opname-sticky-top {
  // margin-top: 20px !important;
  padding-top: 30px;
  padding-bottom: 15px;
  position: sticky;
  top: 42px !important;
  z-index: 10;
  background-color: styles.$background-color !important;
  align-content: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-bar {
  margin-bottom: 10px;
}

.by-tag, .by-SN {
  font-size: 12px;
  color: styles.$primary-text-color;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: styles.$secondary-background-color;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
    background-color: color.adjust(styles.$secondary-background-color, $lightness: -10%);
  }
  
  &.selected {
    color: color.adjust(styles.$primary-text-color, $lightness: -15%);
    background-color: color.adjust(styles.$secondary-background-color, $lightness: -20%);
  }
  
  &:active {
    background-color: color.adjust(styles.$secondary-background-color, $lightness: -30%);
  }
}

.data-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 1px solid color.adjust(styles.$quaternary-text-color, $lightness: 30%);
  // border-radius:10px;
  // background-color: color.adjust(styles.$button-color, $lightness: 10%);
}

.opname-asset-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-1 {
  border-right: 1px solid color.adjust(styles.$quaternary-text-color, $lightness: 30%);
}

.assets-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.view-icon {
	flex-shrink: 0;
	
	img {
		width: 35px;
		height: 35px;
	}
	
	.card-view, .list-view {
		cursor: pointer;
		  opacity: 0.6;
		  transition: opacity 0.2s;
		
		&.active {
		  opacity: 1;
		}
		
		&:hover {
      opacity: 0.8;
		}
  }

	@media (max-width: 767px) {
    display: none !important; // Force hide on mobile
  }
}

.asset-card-layout.default {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 20px;
  transition: transform 0.2s ease-in-out;
}

.asset-card.default {
  position: relative; // Added for absolute positioning of child elements
  border-radius: 20px;
  padding: 10px;
  background-color: styles.$tertiary-color;
  color: styles.$primary-text-color;
  height: 8rem; //temporary
  display: flex;
  align-items: center;

  .additional-info {
    justify-items: right;
  }
}

.asset-card.compact {
  position: relative; // Added for absolute positioning of child elements
  border-radius: 20px;
  padding: 10px;
  background-color: styles.$tertiary-color;
  color: styles.$primary-text-color;
  height: 8rem; //temporary
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .additional-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.asset-card {
  .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    z-index: 99;
    cursor: pointer;
    color: rgb(243, 131, 131);
    transition: 0.05s;
    
    &:hover {
      color: #e72323;
      transform: scale(1.1);
    }
  }
}

.opname-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0px 5px;
  border-left: 1px solid styles.$primary-text-color;
  padding-left: 50px;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.verify-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 5px;
}

.asset-icon {
  height: 100%;
  object-fit: cover;
  display: block;
  // padding: 5px 0px;
}

.asset-status {
  font-size: 10px !important;
  border-radius: 15px;
  padding: 5px 10px;

  @each $name, $color in styles.$asset-pill-colors {
    &.status-#{$name} {
      background-color: $color;
            border: 1px solid color.adjust($color, $lightness: -10%);
    }
  }
}

.asset-tag {
  font-size: 15px;
  font-weight: bold;
  margin: 0px 5px;
}

.asset-name {
  font-size: 12px;
  margin: 5px;
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

@media (max-width: 768px) {
  .asset-card {
    font-size: 0.85rem;
    
    .asset-tag {
      font-size: 0.8rem;
    }
    
    .asset-name {
      font-size: 0.8rem;
    }
  }
}

.asset-list {
  display: flex;
  flex-direction: row;
  align-items: center;

  .delete-icon-mobile {
  margin-left: 10px;
  font-size: 20px;
  z-index: 99;
  cursor: pointer;
  color: rgb(243, 131, 131);
  transition: 0.05s;
    
    &:hover {
      color: #e72323;
      transform: scale(1.1);
    }
  }
}

.asset-list-layout {
	padding-top: 10px;
}

.list-body {
	position: relative; // Added for absolute positioning of child elements
	padding: 10px 0px;
	border-bottom: 1px solid color.adjust(styles.$quaternary-text-color, $lightness: 40%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  flex-grow: 1;
}

.first-column{
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.second-column {
  margin-left: 10px;
  flex-grow: 1;
  display: flex;
	flex-direction: column;
	align-items: start;
}

.third-column {
	display: flex;
	flex-direction: column;
	align-items: start;

	p {
		margin: 5px 0px;
	}
}

.modal {
  .modal-header {
    padding: 20px;
  }

  .serial-number {
    color: styles.$quaternary-text-color;
  }

  .modal-body {
    position: relative;
    padding: 30px;
    color: styles.$primary-text-color;
  }

  .custom-grid {
    display: grid;
    grid-template-columns: 369px 369px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "icon user-info"
      "left-top right"
      "left-bottom right";
    gap: 10px;
  }

  .asset-main-info {
    grid-area: icon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .asset-icon {
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .user-info { 
    grid-area: user-info;
    padding: 10px;
  }

  .left-top { 
    grid-area: left-top; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    border-bottom: 1px solid styles.$quaternary-text-color;
  }

  .asset-status{
    background-color: styles.$button-color;
    border-radius: 15px;
    padding: 5px 10px;
  }

  .status-reason{
    background-color: styles.$button-color; //change color based on the reason
    border-radius: 15px;
    padding: 5px 10px;
  }

  .left-bottom { 
    grid-area: left-bottom; 
  }

  .right { 
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-left: 1px solid styles.$quaternary-text-color;
  }

  .user-info {
    align-self: center;
    justify-items: left;
  }

  .user-position {
    color: styles.$quaternary-text-color;
  }

  .asset-status {
    font-size: 15px;
  }

  hr {
    margin: 15px 0px 0px 0px;
  }

  .rating {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }

  .condition {
    padding: 0px 5px 0px 0px;
  }

  .like,
  .dislike {
    display: inline-block;
    cursor: pointer;
    margin: 0px 5px;
  }

  .like:hover,
  .like.active {
    color: #2EBDD1;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }

  .dislike:hover,
  .dislike.active {
    color: #d12e2e;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }

  .pick-status-reason {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .form-floating {
    font-size: 15px;
  }
}

.mobile {
  padding-top: 20px;
}

.main-info-mobile {
  margin-bottom: 20px;
  align-items: center;
}

.user-info-mobile, .asset-location-mobile, .asset-condition-mobile {
  border-top: 1px solid color.adjust(styles.$quaternary-text-color, $lightness: 30%);
  padding-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.my-toast {
    display: block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
    max-width: 400px;
    border-radius: 20px;
    padding: 10px 20px;
    // border: 0.5px solid rgb(82, 6, 6);
    background-color: color.adjust(styles.$secondary-color, $lightness: 20%);
    opacity: 0.8;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);

    .toast-body {
        padding-right: 5px;
    }
    
    p {
        margin: 0;
        font-size: 14px;
        color: rgb(51, 3, 3);
    }
}