<main class="preview-wrapper">
    <div class="preview-page">
        <!-- ERROR MESSAGE -->
        <!-- <div *ngIf="errorMessage && showToast" class="my-toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <p>{{ errorMessage }}</p>
                    <p>Please try again later.</p>
                </div>
                <button type="button" class="btn-close btn-close-black m-auto" (click)="showToast = false" aria-label="Close"></button>
            </div>
        </div> -->

        <section class="preview-content">
            <div class="preview-header">
                <div class="preview-details">
                    <h5>Opname Preview</h5>
                    <!-- placeholder -->
                    <p>Site name</p>
                    <p>Started on [date]</p>
                </div>
                
                <button class="btn btn-close" (click)="closePreview()"></button>
            </div>

            <hr class="divider">
        </section>
    </div>
</main>