@use "../../styles.scss" as styles;
@use "sass:color";

* {
  @include styles.default-styles;
}

h1, h2, h3, h4, h5, h6 {
  font-family: styles.$font-family;
  color: styles.$primary-text-color;
  margin: 0;
}

p {
  font-size: 15px;
  margin: 0px;
}

.modal-header {
  padding: 20px;
}

.serial-number {
  color: styles.$quaternary-text-color;
}

.modal-body {
  position: relative;
  padding: 30px;
  color: styles.$primary-text-color;
}

.custom-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "icon user-info"
    "left-top right"
    "left-bottom right";
  gap: 10px;
}

.asset-icon {
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.user-info { 
  grid-area: user-info;
  padding: 10px;
}

.left-top { 
  grid-area: left-top; 
}

.left-bottom { 
  grid-area: left-bottom; 
}

.right { 
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

// .vertical {
//   display:inline;
//   height:100%;
//   width:1px;
//   border:1px inset;
//   margin:5px
// }

.user-info {
  align-self: center;
  justify-items: left;
}

.user-position {
  color: styles.$quaternary-text-color;
}

.asset-status {
  font-size: 15px;
}

hr {
  margin: 15px 0px 0px 0px;
}

.rating {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.condition {
  padding: 0px 5px 0px 0px;
}

.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 0px 5px;
}

.like:hover,
.like.active {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.dislike:hover,
.dislike.active {
  color: #d12e2e;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}