<div class="modal fade" [id]="isPending ? 'pending-modal-' + assetPage?.assetTag : 'modal-' + assetPage?.assetTag" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" [attr.aria-labelledby]="'modal-' + assetPage?.assetTag + '-label'" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="errorMessage === '' && !isLoading && screenSize === 'large'">
            <div class="modal-header">
                <section class="asset-header">
                    <h2 class="modal-title fs-5 asset-tag">{{ assetPage?.assetTag }}</h2>
                    <p class="serial-number">{{ assetPage?.serialNumber }}</p>
                </section>
        
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
                <div class="asset-information">
                    <div class="custom-grid">
                        <div class="asset-main-info">
                            <img class="asset-icon" [src]="assetPage?.assetIcon" [alt]="assetPage?.assetName"/>
                            <h5 class="asset-name">{{ assetPage?.assetName }}</h5>
                        </div>
        
                        <div class="user-info">
                            <h5 class="asset-owner">{{ assetPage?.assetOwnerName }}</h5>
                            <p class="user-position">{{ assetPage?.assetOwnerPosition }}</p>
                            <p class="cost-center">Cost Center: {{ assetPage?.assetOwnerCostCenter }}</p>
                        </div>
        
                        <div class="left-top">
                            <span 
                                class="asset-status"
                                [ngClass]="{
                                    'status-deployed': assetPage?.assetStatus === 'Deployed',
                                    'status-onloan': assetPage?.assetStatus === 'On Loan',
                                    'status-disposed': assetPage?.assetStatus === 'Disposed'
                                }">
                                {{ assetPage?.assetStatus }}
                            </span>
                            <p class="status-reason" *ngIf="assetPage?.assetStatus === 'Disposed' && assetPage?.statusReason">
                                Reason: {{ assetPage?.statusReason }}
                            </p>
                            
                            <hr>
                        </div>
        
                        <div class="left-bottom">
                            <div class="asset-condition">  
                                <div class="rating">
                                    <p class="condition">Condition</p>
                                    <span class="like grow" [class.active]="isLiked">
                                        <i class="fa fa-thumbs-up like" aria-hidden="true" *ngIf="assetPage?.condition"></i>
                                    </span>
                                    <span class="dislike grow" [class.active]="isDisliked" *ngIf="!assetPage?.condition">
                                        <i class="fa fa-thumbs-down dislike" aria-hidden="true"></i>
                                    </span>
                                </div>
        
                                <div *ngIf="isDisliked">
                                    <p class="condition-notes">{{ assetPage?.conditionNotes }}</p>
                                    <div class="mb-3" *ngIf="assetPage?.conditionPhotoURL !== ''">
                                        <img [src]="serverURL + assetPage?.conditionPhotoURL" 
                                            [alt]="'Condition photo for ' + assetPage?.assetTag" 
                                            class="img-thumbnail" style="max-width: 300px; max-height: 200px;"> 
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="right">
                            <!-- <hr class="vertical"> -->
                            <div class="asset-location">
                                <h5>Location - {{ assetPage?.regionName }}</h5>
                                <p>{{ assetPage?.location }}</p>
                                <p>{{ assetPage?.room }}</p>
                                <p>{{ assetPage?.siteGroupName }}</p>
                            </div>

                            <!-- TODO: style asset equipment display! -->
                            <div class="asset-equipments">
                                <h5>Equipments</h5>
                                <p *ngIf="assetPage?.equipments">{{ assetPage?.equipments }}</p>
                                <p *ngIf="!assetPage?.equipments">No equipments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

        <div class="modal-content" *ngIf="errorMessage === '' && !isLoading && screenSize === 'small'">
            <div class="modal-header">
                <section class="asset-header">
                    <h2 class="modal-title fs-5 asset-tag">{{ assetPage?.assetTag }}</h2>
                    <p class="serial-number">{{ assetPage?.serialNumber }}</p>
                </section>
        
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body mobile">
                <div class="asset-information">
                        <div class="main-info-mobile">
                            <h5 class="asset-name-mobile">{{ assetPage?.assetName }}</h5>
                            <div class="status-container">
                                <span 
                                    class="asset-status"
                                    [ngClass]="{
                                        'status-deployed': assetPage?.assetStatus === 'Deployed',
                                        'status-onloan': assetPage?.assetStatus === 'On Loan',
                                        'status-disposed': assetPage?.assetStatus === 'Disposed'
                                    }">
                                    {{ assetPage?.assetStatus }}
                                </span>
                                <p class="status-reason" *ngIf="assetPage?.assetStatus === 'Disposed' && assetPage?.statusReason">
                                    {{ assetPage?.statusReason }}
                                </p>
                            </div>
                        </div>
        
                        <div class="user-info-mobile">
                            <p>Owned by:</p>
                            <h5 class="asset-owner">{{ assetPage?.assetOwnerName }}</h5>
                            <p class="user-position">{{ assetPage?.assetOwnerPosition }}</p>
                            <p class="cost-center">Cost Center: {{ assetPage?.assetOwnerCostCenter }}</p>
                        </div>

                        <div class="asset-location-mobile">
                            <h5>Location - {{ assetPage?.regionName }}</h5>
                            <p>{{ assetPage?.location }}</p>
                            <p>{{ assetPage?.room }}</p>
                            <p>{{ assetPage?.siteGroupName }}</p>
                        </div>

                        <!-- TODO: style asset equipment display! -->
                        <div class="asset-equipments-mobile">
                            <h5>Equipments</h5>
                            <p *ngIf="assetPage?.equipments">{{ assetPage?.equipments }}</p>
                            <p *ngIf="!assetPage?.equipments">No equipments.</p>
                        </div>
        
                        <div class="asset-condition-mobile">  
                            <div class="rating">
                                <p class="condition">Condition</p>
                                <span class="like grow" [class.active]="isLiked" (click)="setLike()">
                                    <i class="fa fa-thumbs-up like" aria-hidden="true"></i>
                                </span>
                                <span class="dislike grow" [class.active]="isDisliked" (click)="setDislike()">
                                    <i class="fa fa-thumbs-down dislike" aria-hidden="true"></i>
                                </span>
                            </div>
    
                            <div *ngIf="isDisliked">
                                <p class="condition-notes">{{ assetPage?.conditionNotes }}</p>
                                <div class="mb-3" *ngIf="assetPage?.conditionPhotoURL !== ''">
                                    <img [src]="serverURL + assetPage?.conditionPhotoURL" 
                                        [alt]="'Condition photo for ' + assetPage?.assetTag" 
                                        class="img-thumbnail" style="max-width: 300px; max-height: 200px;"> 
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        
            <div class="modal-footer">
                <!-- Non-editable asset in opname session (left column) or Regular asset view -->
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <!-- ERROR MESSAGE -->
    <div *ngIf="errorMessage && showToast" class="my-toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <p>{{ errorMessage }}</p>
                <p>Please try again later.</p>
            </div>
            <button type="button" class="btn-close btn-close-black m-auto" (click)="showToast = false" aria-label="Close"></button>
        </div>
    </div>

    <!-- Loading modal for asset view -->
    <div class="modal-content" *ngIf="isLoading">
        <div class="modal-header">
            <h5 class="modal-title">Loading</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <p>Loading asset data...</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>