<div class="modal-content">
    <div class="modal-header">
        <section class="asset-header">
            <h2 class="modal-title fs-5 asset-tag">{{ assetPage?.assetTag }}</h2>
            <p class="serial-number">{{ assetPage?.serialNumber }}</p>
        </section>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="asset-information">
            <div class="custom-grid">
                <div class="icon">
                    <img class="asset-icon" [src]="assetPage?.assetIcon" [alt]="assetPage?.assetName"/>
                </div>

                <div class="user-info">
                    <h5 class="asset-owner">{{ assetPage?.assetOwnerName }}</h5>
                    <p class="user-position">[user position]</p>
                    <p class="cost-center">Cost Center: [cost center]</p>
                </div>

                <div class="left-top">
                    <p>{{ assetPage?.assetName }}</p>
                    <span 
                        class="asset-status"
                        [ngClass]="{
                            'status-deployed': assetPage?.assetStatus === 'deployed',
                            'status-onLoan': assetPage?.assetStatus === 'on loan',
                            'status-disposed': assetPage?.assetStatus === 'disposed'
                        }">
                        {{ assetPage?.assetStatus }}
                    </span>
                    <p>[reason status if disposed, if status okay its blank]</p>
                    
                    <hr>
                </div>

                <div class="left-bottom">
                    <div class="asset-condition">  
                        <div class="rating">
                            <p class="condition">Condition</p>
                            <span class="like grow" [class.active]="isLiked" (click)="setLike()">
                                <i class="fa fa-thumbs-up like" aria-hidden="true"></i>
                            </span>
                            <span class="dislike grow" [class.active]="isDisliked" (click)="setDislike()">
                                <i class="fa fa-thumbs-down dislike" aria-hidden="true"></i>
                            </span>
                        </div>

                        <p class="condition-reason">[reason for the condition]</p>
                    </div>
                </div>

                <div class="right">
                    <!-- <hr class="vertical"> -->
                    <div class="asset-location">
                        <p>Location</p>
                        <p>[room]</p>
                        <p>[location]</p>
                        <p>[OU]</p>
                        <p>[RO]</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="asset-information">
            <div class="status">
                <p>[Name] {{ assetPage?.assetName }}</p>
                <span 
                    class="asset-status"
                    [ngClass]="{
                        'status-deployed': assetPage?.assetStatus === 'deployed',
                        'status-onLoan': assetPage?.assetStatus === 'on loan',
                        'status-disposed': assetPage?.assetStatus === 'disposed'
                    }">
                    {{ assetPage?.assetStatus }}
                </span>
                <p>[reason status if disposed, if status okay its blank]</p>

                <hr class="divider">

                <div class="asset-condition">
                    <p>Condition</p>
                    <div class="rating">
                        <span class="like grow" [class.active]="isLiked" (click)="setLike()">
                            <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true"></i>
                        </span>
                        <span class="dislike grow" [class.active]="isDisliked" (click)="setDislike()">
                            <i class="fa fa-thumbs-down fa-3x like" aria-hidden="true"></i>
                        </span>
                    </div>

                    <p class="condition-reason">-</p>
                </div>
            </div>

            <div class="asset-location">
                <p>Location</p>
                <p>[room]</p>
                <p>[location]</p>
                <p>[OU]</p>
                <p>[RO]</p>
            </div>
        </div> -->
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">All good</button>
        <button type="button" class="btn btn-primary">Edit</button>
    </div>
</div>

<!-- <main class="asset-wrapper">
    <div class="asset-page">
        <section class="asset-header">
            <h2 class="asset-tag">{{ assetPage?.assetTag }}</h2>
            <p class="serial-numer">{{ assetPage?.serialNumber }}</p>
        </section>

        <hr class="divider">

        <div class="asset-user">
            <div class="icon">
                <img class="asset-icon" [src]="assetPage?.assetIcon" [alt]="assetPage?.assetName"/>
            </div>
            <div class="user-info">
                <h5 class="asset-owner">{{ assetPage?.assetOwner }}</h5>
                <p class="user-position">[user position]</p>
            </div>
        </div>

    </div>
</main> -->