@use "../../styles.scss" as styles;
@use "sass:color";

* {
  @include styles.default-styles;
}

h1, h2, h3, h4, h5, h6 {
  font-family: styles.$font-family;
  color: styles.$primary-text-color;
  margin: 0;
}

p {
  font-size: 15px;
  margin: 0px;
}

.modal-header {
  padding: 20px;
}

.serial-number {
  color: styles.$quaternary-text-color;
}

.modal-body {
  position: relative;
  padding: 30px;
  color: styles.$primary-text-color;
}

.custom-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "icon user-info"
    "left-top right"
    "left-bottom right";
  gap: 10px;
}

.asset-main-info {
  grid-area: icon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.asset-icon {
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.user-info { 
  grid-area: user-info;
  padding: 10px;
}

.left-top { 
  grid-area: left-top; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
  border-bottom: 1px solid styles.$quaternary-text-color;
}

.asset-status {
    font-size: 12px !important;
    border-radius: 15px;
    padding: 5px 10px;

    @each $name, $color in styles.$asset-pill-colors {
		&.status-#{$name} {
			background-color: $color;
            border: 1px solid color.adjust($color, $lightness: -10%);
		}
	}
}

.status-reason{
  background-color: styles.$button-color; //change color based on the reason
  border-radius: 15px;
  padding: 5px 10px;
}

.left-bottom { 
  grid-area: left-bottom; 
}

.right { 
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-left: 1px solid styles.$quaternary-text-color;
}

.user-info {
  align-self: center;
  justify-items: left;
}

.user-position {
  color: styles.$quaternary-text-color;
}

.asset-status {
  font-size: 15px;
}

hr {
  margin: 15px 0px 0px 0px;
}

.rating {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.condition {
  padding: 0px 5px 0px 0px;
}

.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 0px 5px;
}

.like:hover,
.like.active {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.dislike:hover,
.dislike.active {
  color: #d12e2e;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.pick-status-reason {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-floating {
  font-size: 15px;
}

.mobile {
  padding-top: 20px;
}

.main-info-mobile {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;

  .asset-name-mobile {
    flex-grow: 1;
  }
}

.user-info-mobile, .asset-location-mobile, .asset-condition-mobile {
  border-top: 1px solid color.adjust(styles.$quaternary-text-color, $lightness: 30%);
  padding-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}