<main class="search-wrapper">
    <div class="search-page">
        <section class="search-content">
            <div class="search-header">
                <h2>Search</h2>
            </div>

            <hr class="divider">

            <div class="search-body">
                <div class="search-filter">
                    <h5>Search by:</h5>
                    <span class="by-tag">Asset Tag</span>
                    <span class="by-SN">Serial Number</span>
                    <span class="by-user">User</span>
                    <span class="by-site">Site</span>
                </div>

                <div class="search-bar">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search here!" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>

                <div class="search-results">
                    <p>Please search something first...</p>
                    <img class="search-result-icon" src="assets/search-first.jpeg" alt="Search Hamster"/>
                </div>            
            </div>
        </section>
    </div>
</main>



