@use "../../styles.scss" as styles;
@use "sass:color";

* {
  	@include styles.default-styles;
}

h1, h2, h3, h4, h5, h6 {
	font-family: styles.$font-family;
	color: styles.$primary-text-color;
	margin: 0;
}

.dashboard-wrapper {
 	padding: 20px 30px;
}

// .user-site-header {
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	justify-content: space-between;
// }

// .search {
// 	display: inline-block;
// 	position: relative;
// 	height: 35px;
// 	width: 35px;
// 	box-sizing: border-box;
// 	margin: 0px 8px 7px 0px;
// 	padding: 7px 9px 0px 9px;
// 	border: 3px styles.$primary-text-color solid;
// 	border-radius: 25px;
// 	transition: all 200ms ease;
// 	cursor: text;
	
// 	&:after {
// 		content: "";
// 		position: absolute;
// 		width: 3px;
// 		height: 20px;
// 		right: -5px;
// 		top: 21px;
// 		background: styles.$primary-text-color;
// 		border-radius: 3px;
// 		transform: rotate(-45deg);
// 		transition: all 200ms ease;
// 	}
	
// 	&:active,
// 	&:hover,
// 	&:focus-within {
// 		width: 200px;
// 		margin-right: 0px;
		
// 		&:after {
// 			height: 0px;	
// 		}
// 	}
	
// 	input {
// 		width: 100%;
// 		border: none;
// 		box-sizing: border-box;
// 		font-family: styles.$font-family;
// 		font-size: 15px;
// 		color: inherit;
// 		background: transparent;
// 		outline-width: 0px;
// 	}
// }

// .user-site-list {
// 	display: grid;
// 	column-gap: 10px;
// 	row-gap: 10px;
// 	grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
// 	margin-top: 20px;
// 	justify-content: space-around;
// }

// app-site-card {
// 	display: grid;
// 	column-gap: 10px;
// 	row-gap: 10px;
// 	grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
// 	margin-top: 20px;
// 	justify-content: space-around;
// }