@use "../../styles.scss" as styles;
@use "sass:color";

* {
  	@include styles.default-styles;
}

h1, h2, h3, h4, h5, h6 {
	font-family: styles.$font-family;
	color: styles.$primary-text-color;
	margin: 0;
}

.dashboard-wrapper {
 	padding: 20px 30px;
}

.divider {
  margin-bottom: 0px;
}