<main class="dashboard-wrapper">
    <div class="dashboard-page">
        <section class="dashboard-content">
            <div class="greeting-card">
                <h2>Selamat Pagi, {{ loggedInUser.firstName }}!</h2>
            </div>

            <hr class="divider">

            <div class="user-site">
                <div class="user-site-header">
                    <div class="your-site">
                        <h5>Your Site:</h5>
                    </div>
                    
                    <div class="search-bar">
                        <div class="cntr">
                            <div class="cntr-innr">
                            <label class="search" for="inpt_search">
                                <input id="inpt_search" type="text" />
                            </label>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="user-site-list">
                    <app-site-card></app-site-card>
                </section>
            </div>
        </section>
    </div>

    <!-- THIS IS JUST A PLACEHOLDER FOR LOGOUT BUTTON, WILL DELETE -->
    <footer>
        <button class="logout-btn btn rounded btn-danger" (click)="logout()">Logout</button>
    </footer>
</main>
