<main class="dashboard-wrapper">
    <div class="dashboard-page">
        <section class="dashboard-content" *ngIf="errorMessage === '' && !isLoading">
            <div class="greeting-card">
                <h2>Selamat Pagi, {{ loggedInUser.firstName }}!</h2>
            </div>

            <hr class="divider">

            <div class="user-site">
                <app-site-card></app-site-card>
            </div>
        </section>

        <!-- ERROR MESSAGE -->
        <section class="dashboard-content" *ngIf="errorMessage">
            <div class="error-message">
                <h2>Error: {{ errorMessage }}</h2>
                <p>Please try again later or contact support.</p>
            </div>
        </section>

        <!-- LOADING -->
        <section class="dashboard-content" *ngIf="isLoading">
            <div class="loading-spinner">
                <p>Loading...</p>
            </div>
        </section>
    </div>
</main>
